# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Виртуальные окружения
.venv/
venv/

# Тесты и покрытие
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# Секреты
.env

# Временные файлы отладки
out.txt
err.txt